@font-face {
    font-family: "InclusiveSans-Light";
    src: url('../fonts/InclusiveSans-Light.ttf') format('truetype'),
        url('../fonts/InclusiveSans-Light.woff') format('woff'),
        url('../fonts/InclusiveSans-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "InclusiveSans-LightItalic";
    src: url('../fonts/InclusiveSans-LightItalic.ttf') format('truetype'),
        url('../fonts/InclusiveSans-LightItalic.woff') format('woff'),
        url('../fonts/InclusiveSans-LightItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "InclusiveSans-SemiBold";
    src: url('../fonts/InclusiveSans-SemiBold.ttf') format('truetype'),
        ('../fonts/InclusiveSans-SemiBold.woff') format('woff'),
        ('../fonts/InclusiveSans-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

::selection {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

body {
    font-family: "InclusiveSans-Light", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 1.1rem;
}

:root {
    --gutter-width: 15px;
    --text-color: #181818;
    --text-size: 20px;
}

* {
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
    -webkit-scroll-behavior: smooth;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "InclusiveSans-Semibold", serif;
    color: var(--text-color);
    font-weight: bold;
    margin: 0;
    padding: 0;
}

p,
a {
    font-family: "InclusiveSans-Light", serif;
    color: var(--text-color);
    font-weight: normal;
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "InclusiveSans-Semibold", serif;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: black;
}

button {
    all: unset; 
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    padding: 6px 10px;
    display: flex;
    justify-content: center;
    width: 100px;
    margin-top: 10px;
}

button:hover {
    background-color: black;
    color: white;
}

/* Start coding here */

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 350px) {

    /* ------- HEADER ------- */
    /* ---------------------- */
    main {
        flex-grow: 1;
    }

    header {
        background-color: rgba(255, 255, 255, 0.827);
        margin: 0;
        padding: 0;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }

    header * {
        margin: 0;
        padding: 0;
    }

    .container_header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        margin: 50px 40px 0 40px;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        flex-direction: column;
    }

    nav .logo {
        flex-shrink: 0;
    }

    .logo_header {
        width: 750px;
    }

    .logo img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    nav ul {
        display: flex;
        gap: 1.5rem;
        list-style: none;
        padding: 0;
        padding-top: 700px;
        margin: 0;
        flex: 1;
        align-items: center;
        flex-direction: column;
    }

    ul li {
        position: relative;
        padding: 10px 20px;
    }

    ul li a {
        font-family: 'InclusiveSans-Semibold';
        font-weight: 600;
        font-size: 5rem;
    }

    .separator {
        display: inline-block;
        width: 100vw;
        height: 1px;
        background-color: black;
    }

    ul li:not(:last-child) .separator {
        display: block;
    }
    

    /* Menu coulissant */
    .tags-mobile {
        position: relative;
        display: inline-block;
        border: 1px solid black;
        border-radius: 5px;
        width: fit-content;
    }

    .dropdown-checkbox {
        display: none;
    }

    .all {
        color: black;
        padding: 10px;
        cursor: pointer;
        display: block;
        border-radius: 5px 5px 0 0;
        width: 160px;
    }

    .tag-mobile {
        padding: 10px;
        border: none;
        font-size: 1.1rem;
        background-color: white;
        font-family: "InclusiveSans-Light";
        font-weight: normal;
        font-style: normal;
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        background-color: white;
        width: 160px;
        z-index: 1;
        top: 100%;
        left: 0;
        border: 1px solid black;
        border-top: none;
        border-radius: 0 0 5px 5px;
    }

    .dropdown-item {
        width: 100%;
        padding: 10px;
        border: none;
        background: none;
        text-align: left;
        cursor: pointer;
        display: block;
    }

    .dropdown-menu button {
        width: 100%;
        padding: 10px;
        border: none;
        background: none;
        text-align: left;
        cursor: pointer;
        display: block;
    }

    .dropdown-item:hover {
        background-color: #f1f1f1;
    }

    .dropdown-checkbox:checked+.all+.dropdown-menu {
        display: block;
    }


    /* ------- HEADER ------- */
    /* ---------------------- */


    /* ------- FOOTER ------- */
    /* ---------------------- */
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        border-top: 1px solid black;
        background-color: rgba(255, 255, 255, 0.827);
    }
    
    footer a,
    footer p,
    footer h1,
    footer h2,
    footer h3 {
        font-family: "InclusiveSans-Semibold", serif;
        font-weight: bold;
    }


    .end {
        margin: 50px 40px 40px 40px;        
    }

    .networks .social-links {
        display: none;
    }

    .networks:hover .default-text {
        display: none;
    }

    .networks:hover .social-links {
        display: inline;
    }

    .networks .social-links a {
        margin: 0 5px;
    }

    /* ------- FOOTER ------- */
    /* ---------------------- */

}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 768PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 768px) {

    /* ------- HEADER ------- */
    /* ---------------------- */
    
    /* ------- HEADER ------- */
    /* ---------------------- */


    /* ------- FOOTER ------- */
    /* ---------------------- */

    /* ------- FOOTER ------- */
    /* ---------------------- */
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1000PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {

    /* ------- HEADER ------- */
    /* ---------------------- */
    header {
        border-bottom: 1px solid black;
    }

    main {
        padding-top: 130px;
        padding-bottom: 60px;
    }

    .container_header {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        margin: 20px 80px 0 80px;
    }

    nav {
        flex-direction: row;
        gap: 20px;
    }

    nav .logo {
        flex-shrink: 0;
    }

    .logo_header {
        width: 180px;
    }

    nav ul {
        display: flex;
        list-style: none;
        padding: 0;
        padding-top: 0;
        margin: 0;
        flex: 1;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
    }

    ul li {
        position: relative;
        padding: 10px 10px;
    }

    ul li a {
        font-family: 'InclusiveSans-Semibold';
        font-weight: 600;
        font-size: 1.2rem;
    }

    .separator {
        display: inline-block;
        height: 60px;
        width: 1px;
    }

    ul li:not(:last-child) .separator {
        display: block;
    }

    /* ------- HEADER ------- */
    /* ---------------------- */


    /* ------- FOOTER ------- */
    /* ---------------------- */

    .footer {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
    }

    .end {
        margin: 30px 80px 30px 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .networks {
        position: relative;
        display: inline-block;
        min-width: 300px; 
        height: 1.2em; 
        width: 220px;
    }
    
    .networks span {
        position: absolute;
        left: 0;
        top: 0;
        transition: opacity 0.3s ease;
        width: 100%;
    }
    
    .networks .default-text {
        opacity: 1;
    }
    
    .networks .social-links {
        opacity: 0;
    }
    
    .networks:hover .default-text {
        opacity: 0;
    }
    
    .networks:hover .social-links {
        opacity: 1;
    }

    /* ------- FOOTER ------- */
    /* ---------------------- */
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1200PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {

    /* ------- HEADER ------- */
    /* ---------------------- */
    .container_header {
        margin: 20px 140px 0 140px;
    }

    .logo_header {
        width: 230px;
    }

    /* ------- HEADER ------- */
    /* ---------------------- */


    /* ------- FOOTER ------- */
    /* ---------------------- */
    .end {
        margin: 30px 140px 30px 140px;
    }

    /* ------- FOOTER ------- */
    /* ---------------------- */
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1500PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1500px) {

    /* ------- HEADER ------- */
    /* ---------------------- */
    .container_header {
        margin: 20px 140px 0 140px;
    }

    /* ------- HEADER ------- */
    /* ---------------------- */


    /* ------- FOOTER ------- */
    /* ---------------------- */
    .end {
        margin: 30px 140px 30px 140px;
    }

    /* ------- FOOTER ------- */
    /* ---------------------- */
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1600PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1600px) {

    /* ------- HEADER ------- */
    /* ---------------------- */
    .container_header {
        margin: 20px 200px 0px 200px;
    }

    /* ------- HEADER ------- */
    /* ---------------------- */


    /* ------- FOOTER ------- */
    /* ---------------------- */
    .end {
        margin: 30px 200px 30px 200px;
    }

    /* ------- FOOTER ------- */
    /* ---------------------- */
}