@font-face {
    font-family: "InclusiveSans-Light";
    src: url('../fonts/InclusiveSans-Light.ttf') format('truetype'),
        url('../fonts/InclusiveSans-Light.woff') format('woff'),
        url('../fonts/InclusiveSans-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "InclusiveSans-LightItalic";
    src: url('../fonts/InclusiveSans-LightItalic.ttf') format('truetype'),
        url('../fonts/InclusiveSans-LightItalic.woff') format('woff'),
        url('../fonts/InclusiveSans-LightItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "InclusiveSans-SemiBold";
    src: url('../fonts/InclusiveSans-SemiBold.ttf') format('truetype'),
        url('../fonts/InclusiveSans-SemiBold.woff') format('woff'),
        url('../fonts/InclusiveSans-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

:root {
    --gutter-width: 15px;
    --text-color: #000000;
    --text-size-desktop: 17.5px;
    --text-size-mobile: 30px;
    --heading-size-mobile: 3.8rem;
    --heading-size-desktop: 1.8rem;
}

* {
    box-sizing: border-box;
}

::selection {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

html,
body {
    width: 100vw;
    height: 100vh;
    -webkit-scroll-behavior: smooth;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: "InclusiveSans-Light", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "InclusiveSans-Semibold", serif;
    color: var(--text-color);
    font-weight: bold;
    margin: 0;
    padding: 0;
}

p,
a {
    font-family: "InclusiveSans-Light", serif;
    color: var(--text-color);
    font-weight: normal;
    margin: 0;
    padding: 0;
    line-height: 2rem;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "InclusiveSans-Semibold", serif;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: black;
}

button {
    all: unset;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    padding: 6px 10px;
    display: flex;
    justify-content: center;
    width: 160px;
}

button:hover {
    background-color: black;
    color: white;
}



/* Start coding here */

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 350px) {
    button {
        margin-top: 15px;
    }

    /* font-size mobile */
    body {
        font-size: var(--text-size-mobile);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: var(--heading-size-mobile);
    }

    p,
    a {
        font-size: var(--text-size-mobile);
    }

    /* ------- HEADER ------- */
    /* ---------------------- */
    main {
        flex-grow: 1;
    }

    .header_home,
    .header_other {
        background-color: rgba(255, 255, 255, 0.827);
        margin: 0;
        padding: 0;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        height: 300px;
    }

    .header_other {
        border-bottom: 1px solid black;
    }

    .header_home *,
    .header_other * {
        margin: 0;
        padding: 0;
    }

    .container_header {
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        margin: 50px 40px 0 40px;
    }

    .container_header_other {
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        margin: 50px 40px 0 20px;
    }

    nav {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    .nav_first {
        justify-content: center;
        flex-direction: column;
    }

    .nav_other {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .nav_other ul {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background-color: white;
        z-index: 10;
        padding: 6px 10px;
        flex-direction: column;
        gap: 55px;
    }

    .nav_other ul.open {
        display: flex;
        height: 100vh;
        align-items: center;
        padding-top: 230px;
        width: 100%;
    }

    .logo_other {
        flex-shrink: 0;
    }

    .hidden-logo_other {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease;
    }

    .header_home.menu-open,
    .header_other.menu-open {
        border-bottom: none;
        background-color: white !important;
        z-index: 1100;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: white;
        z-index: 500;
        display: none;
    }

    .burger-menu img {
        width: 80px;
    }

    nav .logo {
        flex-shrink: 0;
    }

    .logo_header {
        width: 750px;
    }

    .logo_other_page {
        width: 560px;
    }

    .logo img,
    .logo_other img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .logo img {
        margin-bottom: 750px;
    }

    nav ul {
        display: flex;
        gap: 40px;
        list-style: none;
        padding: 0;
        padding-top: 700px;
        margin: 0;
        flex: 1;
        align-items: center;
        flex-direction: column;
    }

    ul li {
        position: relative;
        padding: 10px 20px;
    }

    ul li a {
        font-family: 'InclusiveSans-Semibold';
        font-weight: 600;
        /* font-size: 70px; */
    }

    .separator {
        display: inline-block;
        width: 100vw;
        height: 1px;
        background-color: black;
    }

    ul li:not(:last-child) .separator {
        display: block;
    }


    /* ------- HEADER ------- */
    /* ---------------------- */


    /* ------- FOOTER ------- */
    /* ---------------------- */
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        border-top: 1px solid black;
        background-color: rgba(255, 255, 255, 0.827);
    }

    footer a,
    footer p,
    footer h1,
    footer h2,
    footer h3 {
        font-family: "InclusiveSans-Semibold", serif;
        font-weight: bold;
    }


    .end {
        margin: 50px 40px 40px 40px;
    }

    .networks .social-links {
        display: none;
    }

    .networks:hover .default-text {
        display: none;
    }

    .networks:hover .social-links {
        display: inline;
    }

    .networks .social-links a {
        margin: 0 5px;
    }

    /* ------- FOOTER ------- */
    /* ---------------------- */

}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 768PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 768px) {

    /* ------- HEADER ------- */
    /* ---------------------- */

    /* ------- HEADER ------- */
    /* ---------------------- */


    /* ------- FOOTER ------- */
    /* ---------------------- */

    /* ------- FOOTER ------- */
    /* ---------------------- */
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1000PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {

    /* font-size deskstop */
    body {
        font-size: var(--text-size-desktop);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: var(--heading-size-desktop);
    }

    p,
    a {
        font-size: var(--text-size-desktop);
        line-height: 1.5rem;
    }

    /* ------- HEADER ------- */
    /* ---------------------- */

    .main_home {
        padding-top: 120px;
        padding-bottom: 60px;
    }

    .container_header,
    .container_header_other {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        margin: 20px 80px 0 80px;
    }

    .logo_other_page {
        width: 460px;
    }

    .header_home,
    .header_other {
        height: 220px;
    }

    .burger-menu img {
        width: 60px;
    }

    .nav_other ul {
        gap: 55px;
    }


    /* ------- HEADER ------- */
    /* ---------------------- */


    /* ------- FOOTER ------- */
    /* ---------------------- */

    .footer {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
    }

    .end {
        margin: 30px 80px 30px 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .networks {
        position: relative;
        display: inline-block;
        min-width: 150px;
        height: 1.2em;
        width: 200px;
    }

    .networks span {
        position: absolute;
        left: 0;
        top: 0;
        transition: opacity 0.3s ease;
        width: 100%;
    }

    .networks .default-text {
        opacity: 1;
    }

    .networks .social-links {
        opacity: 0;
    }

    .networks:hover .default-text {
        opacity: 0;
    }

    .networks:hover .social-links {
        opacity: 1;
    }

    /* ------- FOOTER ------- */
    /* ---------------------- */
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1200PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {
    button {
        margin-top: 10px;
    }
    
    /* ------- HEADER ------- */
    /* ---------------------- */
    .container_header,
    .container_header_other {
        margin: 20px 140px 0 140px;
    }

    .logo_header {
        width: 180px;
    }

    .nav_first ul,
    .nav_other ul {
        display: flex;
        list-style: none;
        padding: 0;
        padding-top: 0;
        margin: 0;
        flex: 1;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
    }

    ul li {
        position: relative;
        padding: 10px 10px;
    }

    ul li a {
        font-family: 'InclusiveSans-Semibold';
        font-weight: 600;
        font-size: var(--text-size-desktop);
    }

    .separator {
        display: inline-block;
        height: 60px;
        width: 1px;
    }

    ul li:not(:last-child) .separator {
        display: block;
    }

    .burger-menu {
        display: none;
    }

    header {
        border-bottom: 1px solid black;
    }

    .nav_other ul {
        position: static;
        flex-direction: row;
        background: none;
        align-items: center;
    }

    .header_home,
    .header_other {
        height: 120px;
    }

    nav {
        flex-direction: row;
        gap: 60px;
    }

    nav .logo {
        flex-shrink: 0;
    }

    .logo img {
        margin-bottom: 0;
    }

    .nav_first,
    .nav_other {
        flex-direction: row;
    }

    .logo_header,
    .logo_other {
        width: 230px;
    }

    /* ------- HEADER ------- */
    /* ---------------------- */


    /* ------- FOOTER ------- */
    /* ---------------------- */
    .end {
        margin: 30px 140px 30px 140px;
    }

    /* ------- FOOTER ------- */
    /* ---------------------- */
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1500PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1500px) {

    /* ------- HEADER ------- */
    /* ---------------------- */
    .container_header,
    .container_header_other {
        margin: 20px 140px 0 140px;
    }

    /* ------- HEADER ------- */
    /* ---------------------- */


    /* ------- FOOTER ------- */
    /* ---------------------- */
    .end {
        margin: 30px 140px 30px 140px;
    }

    /* ------- FOOTER ------- */
    /* ---------------------- */
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1600PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1600px) {

    /* ------- HEADER ------- */
    /* ---------------------- */
    .container_header,
    .container_header_other {
        margin: 20px 200px 0px 200px;
    }

    /* ------- HEADER ------- */
    /* ---------------------- */


    /* ------- FOOTER ------- */
    /* ---------------------- */
    .end {
        margin: 30px 200px 30px 200px;
    }

    /* ------- FOOTER ------- */
    /* ---------------------- */
}