@font-face {
    font-family: "InclusiveSans-Light";
    src: url('../fonts/InclusiveSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "InclusiveSans-LightItalic";
    src: url('../fonts/InclusiveSans-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "InclusiveSans-SemiBold";
    src: url('../fonts/InclusiveSans-SemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

::selection {
    background-color: rgb(227, 227, 227);
    color: #000000;
}

body {
    font-family: "InclusiveSans-Light", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

:root {
    --gutter-width: 15px;
    --text-color: #181818;
    --text-size: 20px;
}

* {
    box-sizing: border-box;
}

html,
body {
    -webkit-scroll-behavior: smooth;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "InclusiveSans-Semibold", serif;
    color: var(--text-color);
    font-weight: normal;
    margin: 0;
    padding: 0;
}

p,
a,
ul,
li {
    font-family: "InclusiveSans-Light", serif;
    color: var(--text-color);
    font-weight: normal;
    margin: 0;
    padding: 0;
}

/* Start coding here */

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 350px) {
    /* ------- HEADER ------- */
    /* ---------------------- */

    /* ------- HEADER ------- */
    /* ---------------------- */


    /* ------- FOOTER ------- */
    /* ---------------------- */

    /* ------- FOOTER ------- */
    /* ---------------------- */

    /* -------- PAGE -------- */
    /* ---------------------- */
    /* .container_page {

} */
    /* -------- PAGE -------- */
    /* ---------------------- */
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 768PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 768px) {
    /* ------- HEADER ------- */
    /* ---------------------- */

    /* ------- HEADER ------- */
    /* ---------------------- */


    /* ------- FOOTER ------- */
    /* ---------------------- */

    /* ------- FOOTER ------- */
    /* ---------------------- */


    /* -------- PAGE -------- */
    /* ---------------------- */

    /* -------- PAGE -------- */
    /* ---------------------- */
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1000PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {
    /* ------- HEADER ------- */
    /* ---------------------- */

    /* ------- HEADER ------- */
    /* ---------------------- */


    /* ------- FOOTER ------- */
    /* ---------------------- */

    /* ------- FOOTER ------- */
    /* ---------------------- */


    /* -------- PAGE -------- */
    /* ---------------------- */

    /* -------- PAGE -------- */
    /* ---------------------- */
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1200PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {
    /* ------- HEADER ------- */
    /* ---------------------- */

    /* ------- HEADER ------- */
    /* ---------------------- */


    /* ------- FOOTER ------- */
    /* ---------------------- */

    /* ------- FOOTER ------- */
    /* ---------------------- */


    /* -------- PAGE -------- */
    /* ---------------------- */

    /* -------- PAGE -------- */
    /* ---------------------- */
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1500PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1500px) {
    /* ------- HEADER ------- */
    /* ---------------------- */

    /* ------- HEADER ------- */
    /* ---------------------- */


    /* ------- FOOTER ------- */
    /* ---------------------- */

    /* ------- FOOTER ------- */
    /* ---------------------- */


    /* -------- PAGE -------- */
    /* ---------------------- */

    /* -------- PAGE -------- */
    /* ---------------------- */
}