/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 350px) {
    main {
        margin: 330px auto 280px auto;
        width: 90%;
        max-width: 1400px;
    }

    .biography {
        margin: 50px auto 350px auto;
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        gap: 60px;

        img {
            width: 100%;
            aspect-ratio: 3 / 4;
            object-fit: cover;
        }
    }

    .text_biography p {
        text-indent: 2em;
        margin-bottom: 10px;
        font-family: "InclusiveSans-SemiBold";
    }
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 768PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 768px) {
    main {
        width: 85%;
    }
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1000PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {
    main {
        margin: 230px auto 150px auto;
        width: 80%;
    }

    .biography {
        flex-direction: row;
        margin: 20px auto 30px auto;
        gap: 60px;
        align-items: flex-start; 
        width: 80%;

        img {
            width: 270px;
            flex-shrink: 0; 
        }
    }

    .text_biography p {
        margin-bottom: var(--gutter-width);
        font-size: 18px;
    }
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1200PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {
    main {
        margin: 145px auto 100px auto;
        width: 85%;
    }
    
    .biography {
        margin: 20px auto 60px auto;

        img {
            width: 340px;
        }
    }
}




/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1500PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1500px) {
    main {
        width: 90%;
    }
    
    .biography {
        margin: 20px auto 60px auto;
        gap: 80px;
        width: 90%;

        img {
            width: 470px;
        }
    }

    .text_biography p {
        margin-bottom: var(--gutter-width);
        font-size: 20px;
    }
}