/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 350px) {
    main {
        margin: 330px 40px 260px 40px;
    }

    .all_article {
        margin: 50px 0 0 0;
    }

    h1 {
        font-family: "InclusiveSans-Semibold", serif;
        font-weight: bold;
    }

    p,
    a {
        font-size: var(--text-size-mobile);
    }

    .all_article {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 250px;
    }

    .article_image img {
        width: 100%;
        height: auto;
        max-width: 900px;
        object-fit: cover;
        display: block;
        margin: 0 auto;
    }
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 768PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 768px) {}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1000PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {
    main {
        margin: 230px 80px 150px 80px;
    }

    .all_article {
        margin: 20px 80px 0 80px;
    }
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1200PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {
    main {
        margin: 145px 40px 260px 40px;
    }

    .all_article {
        margin: 20px 160px 60px 160px;
    }
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1500PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1500px) {
    .all_article {
        margin: 60px 220px 125px 220px;
    }
}