/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 350px) {
    main {
        margin: 330px 40px 260px 40px;
    }

    p,
    a,
    .qa p,
    .qa p.question,
    .text_1 p,
    .text_2 p,
    .excerpt p,
    .excerpt a {
        font-size: var(--text-size-mobile);
    }

    .all_articles {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 250px;

        ul li {
            padding: 0;
        }
    }

    .title_container {
        display: flex;
        align-items: center;
        width: 100%;
        margin-right: 10px;
    }

    .articles {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        margin-bottom: 120px;
    }

    .articles li a {
        display: flex;
        flex-direction: column;
        text-decoration: none;
    }

    .articles figure {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin: 0;
    }

    small {
        font-family: "InclusiveSans-Light";
        font-style: normal;
        font-weight: normal;
        font-size: var(--text-size-mobile);
        margin: 15px 0;
    }

    .articles figcaption {
        font-size: var(--heading-size-mobile);
        line-height: 3.5rem;
        font-weight: bold;
    }

    .image_article img {
        width: 100%;
        height: auto;
        max-width: 900px;
        object-fit: cover;
        display: block;
        margin: 0 auto;
    }

    .legend {
        display: none;
    }

    .excerpt a {
        font-family: "InclusiveSans-Semibold", serif;
        font-weight: bold;
        display: inline;
        white-space: nowrap;
    }

    .excerpt a:hover {
        text-decoration: underline;
    }

    .article-content {
        flex-direction: column;
    }

    .image-container {
        max-width: 100%;
    }

    .excerpt {
        display: inline;
        line-height: var(--line-height-mobile);
    }

    .read-more {
        display: inline;
        white-space: nowrap;
        margin-top: 25px;
    }

    .text-container {
        margin-top: 25px;
    }
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 768PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 768px) {}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1000PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {
    main {
        margin: 230px 80px 150px 80px;
    }

    .all_articles {
        margin: 20px 80px 30px 80px;
    }

    p,
    a,
    .qa p,
    .qa p.question,
    .text_1 p,
    .text_2 p,
    .excerpt p,
    .excerpt a {
        font-size: var(--text-size-desktop);
    }

    .articles figcaption {
        font-size: var(--heading-size-desktop);
        line-height: var(--line-height-desktop);
    }

    small {
        font-size: var(--text-size-desktop);
        list-style: var(--line-height-desktop);
        margin: 10px 0;
    }

    .excerpt {
        display: inline;
        line-height: var(--line-height-desktop);
    }

    .text-container,
    .read-more {
        margin-top: 15px;
    }
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1200PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {
    main {
        margin: 145px 40px 260px 40px;
    }

    .image_article img {
        margin: 0;
    }

    .legend p {
        font-size: 0.9em;
        margin-top: 10px;
    }

    .articles figcaption {
        line-height: 2.2rem;
    }

    .all_articles {
        margin: 20px 160px 60px 160px;
    }

    .article-item {
        margin-bottom: 60px;
    }

    .article-header {
        margin-bottom: 1rem;
    }

    .article-content {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        align-items: flex-start;
    }

    .image-container {
        flex: 0 0 auto;
        max-width: 40%;
    }

    .text-container {
        flex: 1 1 auto;
    }

    .text-container {
        margin-top: 0;
    }

    .read-more {
        margin-top: 15px;
    }

    small {
        margin: 5px 0;
    }

    .image_article img {
        width: 100%;
        height: auto;
        display: block;
    }

    figcaption {
        margin-right: 10px;
        display: flex;
        align-items: center;
        width: 100%;
        gap: 15px;
    }

    figcaption::after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: black;
    }

    figcaption {
        white-space: nowrap;
    }

}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1500PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1500px) {
    .all_articles {
        margin: 20px 220px 125px 220px;
    }
}