/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 350px) {
    main {
        margin: 330px auto 280px auto;
        width: 90%;
        max-width: 1400px;

    }

    .all_article {
        margin: 50px auto 350px auto;
        display: flex;
        flex-direction: column;
        max-width: 1200px;
    }

    .title_container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    h1 {
        font-size: var(--heading-size-mobile);
        line-height: 3.5rem;
        font-weight: bold;
    }

    p,
    a {
        font-size: var(--text-size-mobile);
    }

    .article_intro p {
        font-family: "InclusiveSans-Semibold", serif;
        font-weight: 600;
        font-style: normal;
    }

    .article_description p {
        margin-bottom: 15px;
    }

    p strong {
        font-family: "InclusiveSans-Semibold", serif;
        font-weight: 600;
        font-style: normal;
    }

    p>strong {
        display: inline-block;
        margin-top: 30px;
    }

    .article_image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        margin: 15px 0 0 0;
    }

    .article_image img {
        width: 100%;
        height: auto;
        max-width: 900px;
        object-fit: cover;
        display: block;
        margin: 0 auto;
    }

    .article_meta {
        margin: 15px 0 0 0;
        font-size: var(--text-size-legend-mobile);
        color: #666;
    }

    .article_image figcaption {
        margin-bottom: 20px;
    }

    .article_image figcaption p {
        font-size: var(--text-size-legend-mobile);
        font-style: italic;
    }

    .article_intro {
        margin: 60px 0 30px 0;
    }

    .article_content {
        margin-top: 60px;
        margin-bottom: 20px;
    }

    .back_link {
        text-align: center;
        display: inline-block;
        margin-top: 20px;
        color: black;
        text-decoration: none;
        font-family: "InclusiveSans-SemiBold";
        font-weight: 600;
        font-style: normal;
        gap: 30px;
        display: flex;
        justify-content: center;
    }

    .back_link:hover {
        text-decoration: underline;
    }

    .back-arrow-icon {
        width: 35px;
        height: auto;
        rotate: 270deg;
        vertical-align: middle;
    }

    .footnote-ref {
    font-size: 0.8em;
    vertical-align: super;
}
.footnote-ref {
    font-size: 0.8em;
    vertical-align: super;
}

.footnote-ref a {
    text-decoration: none;
}

.footnotes {
    margin-top: 3rem;
    padding-top: 1rem;
    border-top: 1px solid #ccc;
    font-size: 0.9em;
}

.footnote-item {
    margin-top: 1rem;
    font-size: 0.85em;
    color: #666;
}

.footnote-item sup {
    margin-right: 0.5rem;
    font-weight: bold;
}
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 768PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 768px) {
    main {
        width: 85%;
    }
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1000PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {
    main {
        margin: 230px auto 150px auto;
        width: 80%;
    }

    .all_article {
        margin: 20px auto 30px auto;
        width: 80%;
    }

    .article_meta,
    .article_image figcaption p {
        font-size: var(--text-size-legend-desktop);
    }

    .article_image figcaption p {
        margin-top: 10px;
    }

    .article_meta {
        margin: 0;
    }

    .article_content {
        margin-top: 20px;
    }

    .article_description p {
        text-indent: 2em;
    }

    h1 {
        font-size: var(--heading-size-desktop);
        line-height: var(--line-height-desktop);
    }

    .back-arrow-icon {
        width: 15px;
    }

    p>strong {
        margin-top: 30px;
    }

    .back_link {
        gap: 10px;
    }
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1200PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {
    main {
        margin: 145px auto 100px auto;
        width: 85%;
    }

    .all_article {
        margin: 20px auto 125px auto;
    }

    .article_intro,
    .article_description {
        margin: 0 150px;
    }

    .article_image {
        margin: 15px 150px;
    }

    h1 {
        line-height: 2.2rem;
    }

    h1 {
        display: flex;
        align-items: center;
        width: 100%;
        gap: var(--gutter-width);
    }

    h1::after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: black;
    }

    h1 {
        white-space: nowrap;
    }
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1500PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1500px) {
    main {
        width: 90%;
    }

    .all_article {
        margin: 20px auto 125px auto;
        width: 90%;
    }
}