/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 350px) {
    main {
        margin: 330px auto 280px auto;
        width: 90%;
        max-width: 1400px;
    }

    .contact {
        margin: 50px auto 250px auto;
        display: flex;
        flex-direction: column;
        max-width: 1200px;
    }

    .newsletter {
        margin-top: 50px;
    }

    .newsletter li.contact_networks {
        padding: 0;
    }

    .title_contact {
        margin-bottom: 10px;
    }

    /* formulaire */
    form>div {
        display: flex;
        flex-direction: column;
    }

    input {
        all: unset;
        border-bottom: 1px solid black;
        padding: 4px 0 4px 10px;
        font-family: inherit;
        font-size: var(--heading-size-desktop);
    }

    input[type="checkbox"] {
        all: revert;
        margin-right: 5px; 
    }

    #rgpdConsent {
        margin: 0 5 0 0;
    }

    .consent_label {
        font-size: var(--text-size-legend-mobile);
    }

    input:focus {
        outline: none;
        border-bottom: 3px solid black;
    }

    label {
        margin-top: 15px;
    }

    .label-message {
        display: inline-block;
        margin-bottom: 5px;
    }

    #contactMessage {
        height: 100px;
        font-family: "InclusiveSans-Light", serif;
        font-weight: 100;
        font-style: normal;
        font-size: 1.8rem;
        padding: 10px;
    }

    .message-textarea {
        border-radius: 5px;
        color: black;
    }

    .message-textarea:focus {
        outline: none;
        border: 3px solid #000;
        color: black;
        border-radius: 5px;
    }

    .contact_networks a {
        font-family: "InclusiveSans-Light", serif;
        font-weight: 100;
        font-style: normal;
        transition: border-bottom 0.3s ease;
    }

    .contact_networks a:hover {
        border-bottom: 1px solid black;
    }

    .newsletter_email {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
    }

    /* dropdown */
    .custom-select {
        position: relative;
        width: 100%;
        cursor: pointer;
    }

    .selected-option {
        border-bottom: 1px solid #000;
        background-color: white;
        padding: 4px 0 4px 10px;
        font-size: 1rem;
        color: #6a6a6a;
    }

    .selected-option:focus {
        border-bottom: 3px solid #000;
    }

    .select-options {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: white;
        z-index: 10;
        font-size: 1rem;
    }

    .select-options.open {
        display: block;
    }

    .select-options .option {
        padding: 10px;
    }

    .select-options .option:hover {
        background-color: #000000;
        color: white;
    }



    /* Newsletter */
    .newsletter_form {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    #newsletterForm {
        display: flex;
        flex-direction: column;
    }
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 768PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 768px) {
    main {
        width: 85%;
    }
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1000PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {
    main {
        margin: 230px auto 150px auto;
        width: 80%;
    }

    .contact {
        margin: 20px auto 30px auto;
        flex-direction: row;
        justify-content: space-between;
        gap: 10%;
        width: 80%;
    }

    .form {
        width: 50%;
        min-width: 300px;
    }

    .newsletter {
        width: 40%;
        min-width: 250px;
    }

    input,
    #contactMessage {
        font-size: 1.1rem;
    }

    .consent_label {
        font-size: var(--text-size-legend-desktop);
    }
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1200PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {
    main {
        margin: 145px auto 100px auto;
        width: 85%;
    }

    .contact {
        margin: 20px auto 100px auto;
    }

    .newsletter {
        margin-top: 0;
    }

    .selected-option {
        padding: 15px 0 4px 10px;
    }
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1500PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1500px) {
    main {
        width: 90%;
    }

    .contact {
        margin: 20px auto 125px auto;
        width: 90%;
    }
}