/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 350px) {
    main {
        margin: 50px 40px 0 40px;
    }

    strong, b {
        font-weight: bold;
      }

    h1,
    h2 {
        font-size: 1.8rem;
    }

    .little_title_contact {
        font-size: 1.1rem;
        margin-top: 15px;
    }

    .title_contact {
        margin-bottom: 10px;
    }

    .legal_notice_grid {
        margin: 50px 40px 30px 40px;
        display: flex;
        flex-direction: column;
    }
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 768PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 768px) {}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1000PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {
    .legal_notice_grid {
        margin: 20px 80px 0 80px;
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
    }

    .col {
        width: 50%;
    }
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1200PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {
    main {
        margin: 145px 40px 260px 40px;
    }
    
    .legal_notice_grid {
        margin: 20px 160px 0 160px;
    }
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1500PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1500px) {
    .legal_notice_grid {
        margin: 20px 260px 40px 260px;
    }

    .legal_notice_grid {
        gap: 100px;
    }
}