/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 350px) {
    main {
        margin: 330px auto 280px auto;
        width: 90%;
        max-width: 1400px;
    }

    h1,
    h2,
    strong {
        font-family: "InclusiveSans-Semibold", serif;
        font-weight: bold;
    }

    .image-text_atelier p {
        margin-bottom: 35px;
    }

    .prestations,
    .portrait,
    .reportage {
        margin: 50px auto auto auto;
        display: flex;
        flex-direction: column;
        max-width: 1200px;
    }

    .atelier {
        margin: 85px auto 350px auto;
    }

    .images-column {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .image-prestations {
        width: 100%;
    }

    .image-prestations img {
        width: 100%;
        height: auto;
        max-width: 900px;
        object-fit: cover;
        display: block;
        margin: 0 auto;
    }

    .text-prestations {
        margin-top: var(--gutter-width);
        margin-bottom: 250px;
    }

    .text-prestations p {
        margin-bottom: 20px;
    }

    .image-text {
        display: flex;
        flex-direction: column;
    }

    .text_1,
    .text_2 {
        display: flex;
        flex-direction: column;
        margin-bottom: var(--gutter-width);
        margin-top: 20px;

        p {
            margin-bottom: 20px;
        }

        p:nth-of-type(2) {
            text-decoration: underline;
        }
    }

    .image-portrait {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .image-portrait img {
        width: 100%;
        height: auto;
        max-width: 900px;
        object-fit: cover;
        display: block;
        margin: 0 auto;
    }

    .reportage-gallery img,
    .image-text_atelier img {
        width: 100%;
        height: auto;
        max-width: 900px;
        object-fit: cover;
        display: block;
        margin: 0 auto;
    }

    .reportage-gallery,
    .atelier-gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: var(--gutter-width);
        overflow: hidden;
    }

    .qa p.question,
    .qa p.answer {
        margin-bottom: var(--gutter-width);
        display: block;
        font-family: "InclusiveSans-Semibold", serif;
        font-weight: bold;
        line-height: 2.6rem;
    }

    .qa p {
        display: none;
    }

    .qa.active p {
        display: block;
    }

    .qa {
        margin-top: var(--gutter-width);
        cursor: pointer;
    }

    .qa .border_question {
        border-top: 1px solid black;
        width: 100%;
        height: 1px;
    }

    .qa .border_answer {
        border-top: 1px solid black;
        width: 100%;
        height: 1px;
        display: none;
    }

    .qa .answer {
        display: none;
    }

    .qa.active .border_question {
        display: none;
    }

    .qa.active .answer {
        display: block;
    }

    .qa.active .border_answer {
        display: block;
        margin-top: 10px;
    }

    .title_container {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .title {
        display: flex;
        align-items: center;
        width: 100%;
        gap: var(--gutter-width);
    }

    .title::after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: black;
    }

    .image-portrait,
    .image-text_atelier,
    .image-text_reportage {
        margin-top: 40px;
    }

    .image-portrait:nth-of-type(1) {
        margin-bottom: 5px;
    }

    .image-portrait:nth-of-type(2) {
        margin-top: 0;
    }

    .reportage-gallery,
    .atelier-gallery {
        margin-top: 25px;
        gap: 5px;
        display: flex;
        flex-direction: column;
    }

    .atelier-gallery {
        display: flex;
        flex-direction: column;
    }

    .image-text {
        display: flex;
        flex-direction: column;
    }

    .image-portrait {
        display: flex;
        flex-direction: column;
    }

    .text-portrait {
        flex: 1;
    }

    .image-text_atelier:nth-of-type(2) {
        margin-top: 10px;
    }

    /* Flèche */
    .question_arrow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    .arrow {
        width: 40px;
        height: auto;
        transition: transform 0.3s ease;
    }
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 768PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 768px) {
    main {
        width: 85%;
    }
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1000PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {
    main {
        margin: 230px auto 150px auto;
        width: 80%;
    }

    .prestations {
        margin: 20px auto 40px auto;
        width: 80%;
        flex-direction: row;
        gap: var(--gutter-width);
    }

    .images-column {
        width: 55%;
        flex-shrink: 0;
        margin-bottom: 90px;
    }

    .text-prestations {
        width: 45%;
        margin-top: 0;
    }

    .text_1 p,
    .text_2 p {
        margin-bottom: 10px;
    }

    .image-text_atelier {
        margin-top: 30px;
    }

    .image-text_reportage {
        margin-top: 20px;
    }

    .image-text_atelier p {
        margin-bottom: var(--gutter-width);
    }

    .title {
        white-space: nowrap;
    }
    
    .text_1, .text_2 {
        width: 55%;
        margin-top: 0;
    }
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1200PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {
    main {
        margin: 145px auto 260px auto;
        width: 85%;
    }

    .prestations {
        margin: 20px auto 40px auto;
    }

    .images-column {
        width: 45%;
    }

    .text-prestations {
        width: 55%;
    }

    .text_1,
    .text_2 {
        margin: 0;
    }

    .qa {
        margin-top: 0;
    }
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1500PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1500px) {
    main {
        width: 90%;
    }

    .prestations {
        margin: 20px auto 40px auto;
        width: 90%;
    }
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1800PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1800px) {

    .text_1,
    .text_2,
    .text-prestations {
        font-size: 1.1rem;
        line-height: 1.6;
    }
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 2200PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 2200px) {

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    .text_1,
    .text_2,
    .text-prestations {
        font-size: 1.2rem;
        line-height: 1.7;
    }
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 2800PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 2800px) {

    .text_1,
    .text_2,
    .text-prestations {
        font-size: 1.3rem;
        line-height: 1.8;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }
}