/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 350px) {
    main {
        margin: 50px 40px 0 40px;
    }

    .all_projects {
        display: flex;
        flex-direction: column;
        margin: 50px 40px 0 40px;
    }

    .projects {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .projects li a {
        display: flex;
        flex-direction: column;
        text-decoration: none;
    }

    .projects figure {
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .projects figcaption {
        font-size: 1rem;
        font-weight: bold;
    }

    .projects img {
        width: 100%;
        height: auto;
        display: block;
    }

    .custom-select-wrapper {
        margin-bottom: 10px;
    }

    /* Survol légende */
    .projects li {
        position: relative;
        padding: 0.2rem;
    }

    .projects li figcaption {
        position: absolute;
        bottom: -40px;
        left: 0;
        width: 250px;
        height: 150px;
        font-weight: bold;
        color: black;
        background: red;
        padding: 0.5rem;
        opacity: 0;
        pointer-events: none;
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .title_project {
        font-family: "InclusiveSans-LightItalic";
        font-style: italic;
        font-weight: normal;
        font-size: 1rem;
    }

    .projects li:hover figcaption {
        opacity: 1;
        width: 250px;
        left: 100%;
        transform: translateX(-70%);
        pointer-events: auto;
    }

    /* Filtres */
    select {
        width: fit-content;
        padding: 6px 10px;
        border-radius: 5px;
    }

    .filters-select:focus {
        outline: none;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
    }
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 768PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 768px) {

}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1000PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 1000px) {
    .all_projects {
        margin: 20px 80px 0 80px;
    }
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1200PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 1200px) {
    .all_projects {
        margin: 20px 140px 0 140px;
    }

    .projects {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    /* Figures */
    .projects li {
        position: relative;
    }

    .projects figure {
        margin: 0;
        position: relative;
    }
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1500PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 1500px) {
    .all_projects {
        margin: 20px 140px 0px 140px;
    }
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1600PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 1600px) {
    .all_projects {
        margin: 20px 200px 0 200px;
    }
}