html,
body {
    overflow-x: hidden;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 350px) {
    main {
        margin: 50px 40px 0 40px;
    }

    .all_projects {
        display: flex;
        flex-direction: column;
        margin: 50px 40px 30px 40px;
    }

    .projects {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .projects li a {
        display: flex;
        flex-direction: column;
        text-decoration: none;
    }

    .projects figure {
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .projects figcaption {
        font-size: 1rem;
        font-weight: bold;
    }

    .projects img {
        width: 100%;
        height: auto;
        display: block;
    }

    .custom-select-wrapper {
        margin-bottom: 10px;
    }

    /* Survol légende */
    .projects li {
        position: relative;
        padding: 0.2rem;
    }

    .projects li figcaption {
        position: absolute;
        bottom: -40px;
        left: 0;
        width: 250px;
        height: 150px;
        font-weight: bold;
        color: black;
        background: rgb(212, 17, 17, 0.95);
        padding: 0.5rem;
        opacity: 0;
        pointer-events: none;
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .title_project {
        font-family: "InclusiveSans-LightItalic";
        font-style: italic;
        font-weight: normal;
        font-size: 1rem;
    }

    small {
        font-family: "InclusiveSans-Light";
        font-style: normal;
        font-weight: normal;
    }

    .projects li:hover figcaption {
        opacity: 1;
        width: 250px;
        left: 100%;
        transform: translateX(-70%);
        pointer-events: auto;
    }

    /* Filtres */
    select {
        width: fit-content;
        padding: 6px 10px;
        border-radius: 5px;
    }

    .filters-select:focus {
        outline: none;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
    }

    .custom-select-wrapper {
        position: relative;
        max-width: 300px;
        margin-bottom: 1rem;
    }

    .select-options.tags-filter {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: white;
        border: 1px solid #000;
        border-radius: 0 0 8px 8px;
        z-index: 10;
        display: flex;
        flex-direction: column;
    }

    .select-options.tags-filter .option {
        padding: 0.5rem;
        cursor: pointer;
        transition: background 0.2s ease;
    }

    .select-options.tags-filter .option:hover {
        background: #000;
        color: #fff;
    }

    .select-options {
        position: absolute;
        top: 100%;
        left: 0;
        background: white;
        border: 1px solid #000000;
        z-index: 30;
        display: none;
        border-radius: 0 0 5px 5px;
    }

    .select-options.open {
        display: block;
        border-top: none;
    }

    .selected-option.open {
        border-bottom: none;
    }

    .option {
        padding: 10px;
        cursor: pointer;
        width: 200px;
    }

    .option:hover {
        background-color: #000000;
        color: white;
    }


    .custom-select {
        position: relative;
        width: 200px;
        z-index: 10;
    }

    .selected-option {
        cursor: pointer;
        padding: 6px 10px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        z-index: 100;
        position: relative;
        width: 200px;
    }
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 768PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 768px) {}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1000PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 1000px) {
    .all_projects {
        margin: 20px 80px 30px 80px;
    }
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1200PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 1200px) {
    .all_projects {
        margin: 20px 140px 60px 140px;
    }

    .projects {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    /* Figures */
    .projects li {
        position: relative;
    }

    .projects figure {
        margin: 0;
        position: relative;
    }
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1500PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 1500px) {
    .all_projects {
        margin: 20px 140px 70px 140px;
    }
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1600PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media screen and (min-width: 1600px) {
    .all_projects {
        margin: 20px 200px 70px 200px;
    }
}